ultralytics==8.0.114
pandas==2.0.2
opencv-python==4.7.0.72
numpy==1.24.3
scipy==1.10.1
easyocr==1.7.0
filterpy==1.4.5
Flask==2.3.3
Flask-SQLAlchemy==3.1.1
Flask-Login==0.6.2
Flask-Migrate==4.0.5
Werkzeug==2.3.7
Jinja2==3.1.2
alembic==1.12.0
SQLAlchemy==2.0.21
email-validator==2.0.0
Pillow==10.0.1
